{% extends 'base.html.twig' %}

{% block title %}
    {{ page }}
{% endblock %}

{% block body %}
    {#{{ form(form) }}#}
    <form class="col-md-8 form-authenticate">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Se connecter en tant que: </label>
            <select class="form-control" id="personne">
                <option value="0">Personne Morale</option>
                <option value="1">Personne Physique</option>
            </select>
        </div>
        <div class="complement-info" data-id="1">
            Personne Physique
        </div>
        <div class="complement-info show" data-id="0">
            Personne Morale
        </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
    <style>
        .complement-info { display: none; }
    </style>

{% endblock %}

