{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %} Creation du nouvel agent {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            {# {{ form(form) }} #}
            <div class="kt-portlet" style="padding: 20px; ">
                <div class="col-md-8">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                         {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}