{% extends "base.html.twig" %}

{% block title %} {{ page }} {% endblock %}

{% block body %}
    {% if projet %}
        <h2 class="mt-4 mb-4"> {{ projet.nom }} </h2>
        <div class="row">
            <div class="col-8">
                <ul class="list-group">
                    <li class="list-group-item">
                        <strong>Titre</strong> : {{ projet.nom }}
                    </li>
                    <li class="list-group-item">
                        <strong>Description </strong> : {{ projet.description }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="mt-4">
            <a href="/projets" class="btn btn-dark">Retour vers la liste des projets</a>
            {% if is_granted('ROLE_ADMIN') %}
                <button class="btn btn-dark"> Ajouter des tâches </button>
            {% endif %}
        </div>

    {% endif %}
{% endblock %}

