{% extends 'base.html.twig' %}

{% block title %}
    {{ page }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 mb-4">
            <div class="kt-portlet">
                <div class="kt-portlet__head"></div>
                <div class="kt-portlet__body">
                    <div id="kt_datatable"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}