<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside" style="opacity: 1;">
    <!-- begin::Aside Brand -->
    <div class="kt-aside__brand kt-grid__item " id="kt_aside_brand" kt-hidden-height="75" style="">
        <div class="kt-aside__brand-logo">
            <a href="/">
                <img alt="Logo" src="{{ asset("media/logos/logo-6.png") }}">
            </a>
        </div>

        <div class="kt-aside__brand-tools">
            <button class="kt-aside__brand-aside-toggler kt-aside__brand-aside-toggler--left" id="kt_aside_toggler"><span></span></button>
        </div>
    </div>
    <!-- end:: Aside Brand -->
    <!-- begin:: Aside Menu -->
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu kt-scroll ps ps--active-y" data-ktmenu-vertical="1" data-ktmenu-scroll="1" data-ktmenu-dropdown-timeout="500" style="height: 348px; overflow: hidden;">

            <ul class="kt-menu__nav ">
                {% if is_granted('ROLE_ADMIN') %}
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/" class="kt-menu__link ">
                            <i class="kt-menu__link-icon flaticon-app"></i><span class="kt-menu__link-text">Les Projets</span>
                        </a>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/agents" class="kt-menu__link ">
                            <i class="kt-menu__link-icon flaticon-users"></i><span class="kt-menu__link-text">Les Agents</span>
                        </a>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="#" class="kt-menu__link ">
                            <i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Mes Tâches</span>
                        </a>
                    </li>
                {% else %}
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/user/projets" class="kt-menu__link ">
                            <i class="kt-menu__link-icon flaticon-app"></i><span class="kt-menu__link-text">Mes Projets</span>
                        </a>
                    </li>
                    <li class="kt-menu__item " aria-haspopup="true">
                        <a href="/user/tasks" class="kt-menu__link ">
                            <i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Mes Tâches</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>