<div id="kt_offcanvas_toolbar_quick_actions" class="kt-offcanvas-panel" style="opacity: 0;">
    <div class="kt-offcanvas-panel__head" kt-hidden-height="89" style="">
        <h3 class="kt-offcanvas-panel__title">
            Quick Actions
        </h3>
        <a href="#" class="kt-offcanvas-panel__close" id="kt_offcanvas_toolbar_quick_actions_close"><i class="flaticon2-delete"></i></a>
    </div>
    <div class="kt-offcanvas-panel__body kt-scroll ps ps--active-y" style="height: 423px; overflow: hidden;">
        <div class="kt-grid-nav-v2">
            <a href="#" class="kt-grid-nav-v2__item">
                <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-box"></i></div>
                <div class="kt-grid-nav-v2__item-title">Orders</div>
            </a>
            <a href="#" class="kt-grid-nav-v2__item">
                <div class="kt-grid-nav-v2__item-icon"><i class="flaticon-download-1"></i></div>
                <div class="kt-grid-nav-v2__item-title">Uploades</div>
            </a>
            <a href="#" class="kt-grid-nav-v2__item">
                <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-supermarket"></i></div>
                <div class="kt-grid-nav-v2__item-title">Products</div>
            </a>
            <a href="#" class="kt-grid-nav-v2__item">
                <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-avatar"></i></div>
                <div class="kt-grid-nav-v2__item-title">Customers</div>
            </a>
            <a href="#" class="kt-grid-nav-v2__item">
                <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-list"></i></div>
                <div class="kt-grid-nav-v2__item-title">Blog Posts</div>
            </a>
            <a href="#" class="kt-grid-nav-v2__item">
                <div class="kt-grid-nav-v2__item-icon"><i class="flaticon2-settings"></i></div>
                <div class="kt-grid-nav-v2__item-title">Settings</div>
            </a>
        </div>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px; height: 423px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 300px;"></div></div></div>
</div>